body{
    font-family: arial, sans-serif;
    background: #ccc;
    margin: 0;
}

.hero{
    background-image: url(../imagens/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}

.hero-content{
    text-align: center;
    color: white;
    margin-top: 150px;
}

.hero-content h1{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 2px #333;
}
.hero-content p{
    background-color: rgba(0,0,0, .8);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid white;
}



.top-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    height: 80px;
    
    background-color: rgba(0,0,0,.5);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height .5s;
}
.top-bar .title{
    font-size: 1.2em;
    text-transform: uppercase;
    opacity: 0;
    color: white;
    
}

.fx .top-bar .title{
opacity: 1;
transition: opacity .5s .4s;
    }

.fx .top-bar{
height: 40px;
    }


.top-bar p{
margin: 0;
text-align: right;
color: white;
}

main{
    width: 80%;
    margin: auto;
}

.content-section{
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
}

.card{
    width: 32%;
    float: left;
    box-sizing: border-box;
}
.card-1, .card-2{
    margin-right: 2%;
}
.card img {
   width: 100%; 
    display: block;
}
.card p{
    background-color: #393535;
    color: white;
    margin: 0;
    padding: 15px;
}

.content-header{
    border-bottom: solid 2px #ccc;
	padding: 10px;
	
	background: #eee;
}
.content-header h2{
    margin:0;
}

.rodape{
    height: 80px;
	color: white;
	font-size: 14px;
	text-align: center;
	text-shadow: 2px 2px 2px black;
	background: #6b6c68;
    line-height: 80px;
}