/**,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:inherit;
    letter-spacing: inherit;
}*/

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .1rem;
    display: flex;
}

body,
html {
    height: 100%;
    margin: 0;
}

.formCadastro__app {
    background-color: rgb(247, 247, 247);
    border-radius: 3px;
    box-shadow: 2px 2px 15px rgba(77, 77, 77, .5);
    min-width: 12.5em;
    margin: auto;
}

.formCadastro__container {
    background-color: #726a95;
    padding: 2rem 1rem;
    border-radius: 3px 3px 0 0;
}

.formCadastro__container>.heading {
    font-size: 2rem;
    margin-top: 0;
}

.formCadastro label[for] {
    padding: .5rem 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-size: 1em;
    margin-top: 1rem;
}

.formCadastro label {
    padding: .5rem 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-size: 1em;
    margin-top: .5rem;
}

input[type="text"] {
    padding: .5rem;
    width: 100%;
    display: block;
    box-sizing: border-box;

}

input[type="submit"] {
    border: none;
    background-color: rgb(181, 181, 204);
    padding: .5rem 2.5rem;
    margin-left: .5rem;
    cursor: pointer;
    margin-left: auto;
    display: block;
    font-size: 1.25em;
}

input[type="submit"]:hover {
    background-color: rgb(223, 223, 247);
}



textarea {
    padding: .5rem;
    width: 100%;
    display: block;
    box-sizing: border-box;

}

.contador {
    text-align: right;
    font-size: .75rem;
}

.formCadastro__container {
    padding: 1rem;
}

#feedbackMessage {
    position: fixed;
    left: 1rem;
    top: 1rem;
    right: 1rem;
    border-radius: 5px;
    background-color: #ef9595;
    color: #652f2f;
    justify-content: space-between;
    display: flex;
    padding: 1rem;
    align-items: center;
    font-size: 1.25em;
    transform: translateY(calc(-2rem - 100%));
    transition: transform .3s;
}

#feedbackMessage p {
    margin: .5em 0;
}

#feedbackMessage button {
    background-color: transparent;
    border: none;
    font-size: 1.25em;
    color: #652f2f;
}

#feedbackMessage button:focus {
    border: 1px solid red;
}

#feedbackMessage.show {
    transform: translateY(0px);
}